/RISK_CONSOLIDATED/Debug
/RISK_CONSOLIDATED/Debug/*.obj
/.vs
/Debug
/RISK_CONSOLIDATED.sln
/RISK_CONSOLIDATED.opensdf
/RISK_CONSOLIDATED.sdf
/RISK_CONSOLIDATED/RISK_CONSOLIDATED.vcxproj.filters
/RISK_CONSOLIDATED/RISK_CONSOLIDATED.vcxproj
/RISK_CONSOLIDATED/ClassDiagram.cd
/RISK_CONSOLIDATED/ClassDiagram1.cd
